body{
    background-color: skyblue;
}
p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
li h1 a{
    text-decoration: none;
    transition: all 0.4s;
}
li>h1>a:hover{
    color: salmon;
    
}